.container {
    width: 500px;
    margin: 0 auto;
  }
  
  .form-control {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
  }
  
  .btn-success {
    width: 100%;
    background-color: #5cb85c;
    color: #fff;
  }
  