<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones</title>
    <!-- Incluye los estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">
    <h2>Habitaciones</h2>
    
    <a href="{% url 'crear' %}" class="btn btn-success mb-3">
        <i class="bi bi-plus"></i> Añadir
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Número</th>
                <th>Tipo</th>
                <th>Capacidad</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            {% for habitacion in habitaciones %}
            <tr>
                <td>{{ habitacion.codigo }}</td>
                <td>{{ habitacion.nro_hab }}</td>
                <td>{{ habitacion.tipo }}</td>
                <td>{{ habitacion.capacidad }}</td>
                <td>{{ habitacion.valor }}</td>
                <td>{{ habitacion.estado }}</td>
                <td>{{ habitacion.descripcion }}</td>
                <td><img src="{{ habitacion.imagen.url }}" height="50" width="70"></td>
                <td>
                    <!-- Botón de Actualizar -->
                    <a href="{% url 'editar' habitacion.codigo %}" class="btn btn-primary btn-sm">Actualizar</a>

                    <!-- Botón de Eliminar -->
                    <a name="" id="" class="btn btn-danger btn-sm" href="{% url 'eliminar' habitacion.codigo %}" role="button" onclick="return confirmacion()">Eliminar</a>

                    <!-- Modal de Confirmación para Eliminar -->
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Incluye los scripts de Bootstrap (jQuery y Popper.js) -->
<script>
    function confirmacion(){
        var respuesta=confirm('¿Desea borrar el registro?');
        if(respuesta==true){
            return true;
        }
        else{
            return false;
        }
    }
</script>
</body>
</html>
