<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="card">
        <div class="card-header">
            Registrar habitación
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos de la habitación</h4>
            {% include 'crear.html' %}
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</body>
</html>